<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Phone360</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="stylesheet" href="/static/css/custom.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/index">Phone360</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/index">Home</a></li>
					<li><a href="/brand">Phones</a></li>
                    <li><a href="/compare">Compare Me</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>The 360 phone zone</p>
						<h2>Phone360</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<h2>Choose your phone</h2>
							</header>



				<!-- Gallery -->
						<center>	<div>
					<ul class="actions">


<form  method="post" action="{{ url_for('useless') }}">
    <div class="12u$">
        <div class="select-wrapper">
            <select name="p1" id="category">
                <option value="">- Select phone model -</option>
                {% for i in m1 %}

                <option value="{{ i[0] }}">{{ i[0] }}</option>
                	{% endfor %}
                    </select>
        </div>
    </div>
    <div class="12u$">
        <div class="select-wrapper">
            <select name="p2" id="category">
                <option value="">- Select phone model -</option>
                {% for i in m2 %}

                <option value="{{ i[0] }}">{{ i[0] }}</option>
                	{% endfor %}
                    </select>
        </div>
    </div>
    <input type="submit" name="submit" value="Submit">
</form>


</ul>								</div></center>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.scrollex.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>
